<h1>Listing comments</h1>

<table>
  <tr>
    <th>Article</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.article.title %></td>
    <td><%= comment.description %></td>
    <td><%= link_to 'Show', user_comment_path(current_user, comment) %></td>
    <td><%= link_to 'Edit', edit_user_comment_path(current_user, comment) %></td>
    <td><%= link_to 'Destroy', user_comment_path(current_user, comment), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment', new_user_comment_path %>
