<script type="text/javascript">

$(function() {
  $('.max_on').click(function() {
    $.get("<%= articles_by_max_path %>");
  });

  $('.min_on').click(function() {
    $.get("<%= articles_by_min_path %>");
  });

  $('.date_on').click(function() {
    $.get("<%= articles_by_date_path %>");
  });
  
  $('.vote_on').click(function() {
    var id = $(this).parents('.article').attr('id');
    $.post("<%= vote_path %>", { user_id : "<%= current_user.id %>", article_id : id, result : 'for' } );
  });

  $('.vote_against').click(function() {
    var id = $(this).parents('.article').attr('id');
    $.post("<%= vote_path %>", { user_id : "<%= current_user.id %>", article_id : id, result : 'against' } );
  });
});

</script>

<h1><strong>News</strong></h1>

 <% if @articles.present? %>
 <%= link_to 'Add new Article', new_user_article_path(current_user.id)%>|
 <%= link_to("Get last news", "javascript: void(0);", :class => 'date_on') %>
 <%= link_to("Sort by max rating", "javascript: void(0);", :class => 'max_on') %>
 <%=link_to("Sort by min rating", "javascript: void(0);", :class => 'min_on') %>
 <% end %>
<br /><br />

<%= paginate @articles %>
<div style="clear:both"></div><br />

<div class="articles_list">
<% @articles.each do |article| %>
  <%= render @articles %>
<% end %>
</div><br /><br/><br />

<%= paginate @articles %>
<div style="clear:both"></div><br/><br />

